.sidenav-active.cover {
  background-color: rgba(0,0,0,0.4);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  z-index: 5000;
  transition: background-color .3s, transform 0.3s;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;

  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top:50px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #e67300;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}
#main {
  transition: margin-left .5s;
  padding: 6px;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.sidenav .closebtan3 {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


/*  Right-sided Navigation menu CSS Start 
.sidenavright {
  height: 100%;
  width:0;
  position: fixed;
  z-index: 1;
  top: 0;
 
  background-color: #111;
  overflow-x: hidden;
  transition:0.5s;
  padding-top:60px;
}

.sidenavright a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #e67300;
  display: block;
  transition: 0.3s;
}

.sidenavright a:hover {
  color: #f1f1f1;
}

.sidenavright .closebtan3 {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenavright {padding-top: 15px;}
  .sidenavright a {font-size: 18px;}
}
*/



  